<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Login</title>
<link rel="stylesheet" href="login.css">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


<script src="https://www.gstatic.com/firebasejs/7.10.0/firebase-app.js"></script>

<script src="https://www.gstatic.com/firebasejs/7.10.0/firebase-auth.js"></script>


<script src="https://www.gstatic.com/firebasejs/7.10.0/firebase-analytics.js"></script>



<link href="https://fonts.googleapis.com/css?family=Tangerine&display=swap" rel="stylesheet" />
<link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet"/>
  </head>
  <body>
    <h1>weConnect</h1>
      <div class="container">
        <div class="backbox">
          <div class="loginMsg">
            <div class="textcontent">
              <p class="title">Don't have an account?</p>
              <p>Sign up to with us to help peoplein emergency</p>
              <button id="switch1">Sign Up</button>
            </div>
          </div>
          <div class="signupMsg visibility">
            <div class="textcontent">
              <p class="title">Have an account?</p>
              <p>Welcome back!</p>
              <button id="switch2">SIGN IN</button>
            </div>
          </div>
        </div>
        <!-- backbox -->

        <div class="frontbox">
          <div class="login">
            <h2>SIGN IN</h2>
            <div class="inputbox">
              <input id="email1" type="email" name="email" placeholder="  EMAIL">
              <input id="password1" type="password" name="password" placeholder="  PASSWORD">
            </div>
            <p>FORGET PASSWORD?</p>
            <button id="signin">SIGN IN</button>
          </div>

          <div class="signup hide">
            <h2>SIGN UP</h2>
            <div class="inputbox">
              <input id="name"  type="text" name="fullname" placeholder="  FULLNAME">
              <input id="email2" type="email" name="email" placeholder="  EMAIL">
              <input id="password2" type="password" name="password" placeholder="  PASSWORD">
            </div>
            <button id="signup">SIGN UP</button>
          </div>

        </div>



        <!-- frontbox -->
      </div>

      <button id="signout" style="background-color:black;color:white">
        Signout
      </button>

      </body>
  <script type="text/javascript" src="login.js"></script>
  
</html>
