<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Loading</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans"
      rel="stylesheet" />
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Quicksand"
      rel="stylesheet"
    />
    <link
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/styles.css" />
  </head>
  <body>
    <header>
      <h2 class="mount">
        <a href="#">weConnect</a>
      </h2>
      <nav>
        <li><a href="#">Speak</a></li>
        <li><a href="#">Identify</a></li>
        <li><a href="#">Contact</a></li>
      </nav>
    </header>
    <section class="hero">
      <div
        class="background-image"></div>
      <div class="hero-content-area">
        <h1 style="color:red;">We notified<span style="color:black;"> Everyone needed!</span></h1>
        <h3>Help is coming! Try to keep yourself safe until then!</h3>
        <div class="load fill">
   <div class="er">
     </div></div>
      </div>
    </section>
  </body>
</html>
